@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: teal;
  background-color: azure;
}

header {
  background-color: #eee;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 1000px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 20px;
  margin: 10px;
  background-color: #eee;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 12px 16px;
  line-height: 30px;
}

.card-body-large {
  padding: 26px;
}

.card-text {
  color: black;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}

.card-text.date {
  color: gray;
}

.card-text p {
  margin-bottom: 15px;
}

.img-small {
  max-width: 300px;
}

.card-container {
  padding: 0px 16px;
}

.card-large {
  max-width: 750px;
  margin: 10px auto;
}

.image-large {
  width: 100%;
  height: auto;
  max-width: 750px;
}

button {
  font-size: 16px;
  padding: 8px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.form-container {
  width: 400px;
  margin: 10px auto;
}

form input,
label {
  font-size: 20px;
}

label {
  font-weight: bold;
}
